body{
  background-color: rgb(255, 255, 255);

}
/* .Post{
    display: flex;


} */

.post-div{
 margin-left: 80px;
}
.contentPost{
    color: rgb(0, 165, 115);
    max-width: 40ch;
    overflow: hidden;
    text-overflow: ellipsis;
    
    white-space: nowrap;
}
.imgPost{
    width: 240px;
    float: left;
    margin: 5px 15px 15px 10px ;

}
.posts{

    box-shadow: 4px 31px 25px 12px rgba(0, 11, 12, 0.479);
    text-align: start;
    width: 750px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: larger;
    margin-bottom:40px;

}

.btnOpen{
    margin-left: 320px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 165, 115);
    border: none;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.cardTop{
    
}
.card-top-titulo{
    color: rgb(0, 165, 115);
    text-transform: uppercase;
    margin-left: 15px;

}

.cardBody{
    color: rgb(0, 165, 115);
}

.cardBottom{
    padding-bottom: 5px ;
}

.cardBottom * {
    margin-left: 10px ;
}

.title{
    color: rgb(0, 165, 115);
    font-size: 55px;
    font-family: 'Space Mono', cursive;
}
.card-bottom-calendar{
    color: rgb(0, 165, 115);
}